#!/usr/bin/env bash
# {{ ansible_managed }}

# Directory where individual site directories reside
ROOT={{ www_root }}

# Tasks to be performed on the following sites
SITES=(
    {% for item in wordpress_sites %}
    "{{ item }}"
    {% endfor %}
)
